# Flutter
.buildlog/
.melos_tool/
.pub-cache/
.pub/
coverage/

# Build artifacts
build/
.dart_tool/

# Android specific
android/captures/
android/.gradle/
android/local.properties
android/app/build/
android/app/release/
android/app/profile/

# iOS specific
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec


# IDE specific
.idea/
*.iml
.vscode/

# Rider specific
.idea.SolutionCaches/

# Log files
*.log

# macOS specific
.DS_Store

# Pub files
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Generated plugin files
lib/generated_plugin_registrant.dart

.env